*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container{
    display: flex;
}

header{
    height: 5vh;
    background-color: red;
    justify-content: end;
}

header .speaker-view{
    width: 200px;
    height: 100%;
    background-color: yellow;
    margin-right: 10px;
}

header .zoom-icon{
    width: 50px;
    height: 100%;
    background-color: blue;
}

header div a{
    background-color: grey;
    color: white;
    margin: auto;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

main{
    height:80vh;
    background-color: black;
}

main .container{
    margin: 0 auto;
    width: 80%;
    height: 100%;
    background-color: grey;
}

footer{
    height: 15vh;
    background-color: #222222;
    justify-content: space-between;
}

footer .icon-footer{
    height: 100%;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
}

footer .icon-footer i{
    font-size: 30px;
    margin-bottom: 10px;
}

footer .icon-footer i, p{
    width: 100%;
}


footer .icon-footer #arrow{
    font-size: 15px;
}

footer .text-center #share{
    color: #4bc800;
}

footer .text-right{
    height: 100%;
    background-color: #4a4a4a;
    color: #b92600;
    padding: 0 20px;
}

